{
    "LQR":{
        "K":[
            [
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.0,
                0.0
            ],
            [
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.0,
                0.0
            ],
            [
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.0,
                0.0
            ],
            [
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.1,
                0.0,
                0.0
            ]
        ],
        "Kdim":[
            4,
            12
        ],
        "h":0.1
    },
    "MAN":{
        "pitch_d":1,
        "roll_d":1,
        "thrust_d":1000,
        "yaw_d":5
    },
    "MPC":{
        "Q":[
            10,
            10,
            10,
            10,
            10,
            10,
            10,
            10,
            10,
            10
        ],
        "R":[
            1,
            1,
            1,
            1
        ],
        "predN":10
    },
    "PD":{
        "z":{
            "Kd":1,
            "Kp":1,
            "N":20,
            "maxlim":0.8,
            "minlim":-0.8
        }
    },
    "PID":{
        "h":0.01,
        "x":{
            "Kd":1,
            "Ki":1,
            "Kp":1,
            "N":20,
            "beta":1,
            "gamma":1,
            "maxlim":0.8,
            "minlim":-0.8
        },
        "y":{
            "Kd":1,
            "Ki":1,
            "Kp":1,
            "N":20,
            "beta":1,
            "gamma":1,
            "maxlim":0.8,
            "minlim":-0.8
        }
    },
    "global":{
        "inner_loop_h":0.01,
        "kinect_loop_h":0.0333,
        "outer_loop_h":0.1,
        "time_lag_receive":0.03,
        "time_lag_send":0.03
    },
    "quadcopter_model":{
        "A":[
            0.25,
            0.25,
            0.25
        ],
        "I":[
            0.004856,
            0.004856,
            0.008801
        ],
        "Im":3.357e-05,
        "b":1.14e-07,
        "g":9.81,
        "k":2.98e-06,
        "l":0.225,
        "m":0.468,
        "x0":[
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ]
        ]
    }
}