<launch>
  <node
    name="master"
    pkg="crazy_ros"
    type="master.py"
    output="screen"
  />
  <node
    name="referenceGenerator"
    pkg="crazy_ros"
    type="referenceGenerator.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="quadcopterModelRT"
    pkg="crazy_ros"
    type="quadcopterModelRT.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="innerPDController"
    pkg="crazy_ros"
    type="innerPDController.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
</launch>
