<launch>
  <arg
    name="useDummy"
    default="1"
  />
  <node
    name="referenceGenerator"
    pkg="crazy_ros"
    type="referenceGeneratorNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="quadcopterModel"
    pkg="crazy_ros"
    type="quadcopterSimNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="kinectNode"
    pkg="crazy_ros"
    type="kinectNode.py"
    output="screen"
  />
  <group if = "$(arg useDummy)">
    <node
      name="dummyCamera"
      pkg="crazy_ros"
      type="dummyCamera.py"
      output="screen"
    />
  </group>
  <node
    name="MPCcontroller"
    pkg="crazy_ros"
    type="outerMPCNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="PIDcontroller"
    pkg="crazy_ros"
    type="outerPIDNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="master"
    pkg="crazy_ros"
    type="masterNode.py"
    output="screen"
  />
</launch>
