<launch>
  <!-- Default startup settings -->
  <arg
    name="useDummy"
    default="0"
  />
  <arg
    name="useOpenni"
    default="1"
  />
  <arg
    name="useCrazyflie"
    default="1"
  />

  <!-- Launches the openni driver if applicable -->
  <group if = "$(arg useOpenni)">
    <include
    file="$(find openni_launch)/launch/openni.launch"
    />
  </group>

  <!-- Launches the crazyROS driver if applicable -->
  <group if = "$(arg useCrazyflie)">
    <arg name="uri" default="radio://0/80/250K" />
    <arg name="roll_trim" default="0" />
    <arg name="pitch_trim" default="0" />

    <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
    </include>

    <group ns="crazyflie">
      <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
        <arg name="uri" value="$(arg uri)" />
        <arg name="tf_prefix" value="crazyflie" />
      </include>
    </group>
  </group>

  <node
    name="referenceGenerator"
    pkg="crazy_ros"
    type="referenceGeneratorNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="quadcopterModel"
    pkg="crazy_ros"
    type="quadcopterSimNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="kinectNode"
    pkg="crazy_ros"
    type="kinectNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />

  <!-- Launched the dummy node if applicable -->
  <group if = "$(arg useDummy)">
    <node
      name="dummyCamera"
      pkg="crazy_ros"
      type="dummyCamera.py"
      output="screen"
    />
  </group>

  <!-- Controller and master nodes, required regardless of startup mode -->
  <node
    name="MPCcontroller"
    pkg="crazy_ros"
    type="outerMPCNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="PIDcontroller"
    pkg="crazy_ros"
    type="outerPIDNode.py"
    output="screen"
    args="$(find crazy_ros)/config/configparam.cnf"
  />
  <node
    name="master"
    pkg="crazy_ros"
    type="masterNode.py"
    output="screen"
  />
</launch>
