{
    "global":
        {
            "timestep": 0.01
        },
    "quadcopter_model":
        {
            "g": 9.81,
            "m": 0.468,
            "l": 0.225,
            "k": 2.980e-6,
            "b": 1.140e-7,
            "Im": 3.357e-5,
            "I": [4.856e-3, 4.856e-3, 8.801e-3],
            "A": [0.25,0.25,0.25],
            "hover_omega": 1
        }
}
