{
    "global":{
        "inner_loop_h":0.01,
        "kinect_loop_h":0.3,
        "outer_loop_h":0.1,
        "time_lag_receive":0.03,
        "time_lag_send":0.03
    },
    "kinect":{
        "P0":[
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0,
            1.0
        ],
        "Q":[
            0.001,
            0.001,
            0.001,
            0.001,
            0.001,
            0.001,
            0.001,
            0.001,
            0.001
        ],
        "R":[
            0.1,
            0.1,
            0.1,
            0,
            0,
            0,
            0.5,
            0.5,
            0.5
        ],
        "measuredStates":[
            1,
            1,
            1,
            0,
            0,
            0,
            1,
            1,
            1
        ],
        "x0":[
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ]
    },
    "outer_MPC":{
        "Q":[
            [
                2.5
            ],
            [
                1.75
            ],
            [
                1.75
            ],
            [
                1.75
            ]
        ],
        "R":[
            [
                1.5
            ],
            [
                6.0
            ],
            [
                6.0
            ],
            [
                6.0
            ]
        ]
    },
    "outer_PID":{
        "D":[
            [
                1.5
            ],
            [
                6.0
            ],
            [
                6.0
            ],
            [
                6.0
            ]
        ],
        "K":[
            [
                2.5
            ],
            [
                1.75
            ],
            [
                1.75
            ],
            [
                1.75
            ]
        ]
    },
    "quadcopter_model":{
        "A":[
            0.25,
            0.25,
            0.25
        ],
        "I":[
            0.004856,
            0.004856,
            0.008801
        ],
        "Im":3.357e-05,
        "b":1.14e-07,
        "g":9.81,
        "k":2.98e-06,
        "l":0.225,
        "m":0.468,
        "x0":[
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ],
            [
                0.0
            ]
        ]
    }
}